DJANGO_DEBUG=true
DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=

DATABASE_URL=

DJANGO_STATIC_ROOT=gestao_cme/staticfiles

DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SESSION_COOKIE_SECURE=false
DJANGO_CSRF_COOKIE_SECURE=false
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=false
DJANGO_SECURE_HSTS_PRELOAD=false
DJANGO_SECURE_PROXY_SSL_HEADER=false

DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DJANGO_DEFAULT_FROM_EMAIL=noreply@abogoias.local
DJANGO_EMAIL_HOST=
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=
DJANGO_EMAIL_HOST_PASSWORD=
DJANGO_EMAIL_USE_TLS=true
DJANGO_EMAIL_USE_SSL=false

EDUQ_DOMINIO=
EDUQ_USUARIO=
EDUQ_SENHA=
EDUQ_AUTH_URL=https://apisistema.eduqtecnologia.com.br/autenticacao/logar
EDUQ_DATA_URL=https://apisistema.eduqtecnologia.com.br/emissao-consulta-personalizada/obter-dados
EDUQ_CONSULTA_TURMAS_ID=4
EDUQ_CONSULTA_DETALHES_TURMA_ID=5
EDUQ_VERIFY_TLS=true
EDUQ_TIMEOUT=30
EDUQ_USE_PROXY=false
