{% extends "gestao_lab/base.html" %}
{% load static %}

{% block title %}Gestão de Laboratório | Nova moldagem{% endblock %}
{% block header_eyebrow %}Gestão de laboratório{% endblock %}
{% block header_title %}Nova moldagem{% endblock %}

{% block sidebar_copy %}Registre a moldagem realizada pelo aluno. Após o registro, encaminhe para o laboratório convertendo em pedido de material.{% endblock %}
{% block sidebar_nav %}{% include "gestao_lab/partials/menu.html" %}{% endblock %}

{% block sidebar_extra %}
    {% include "gestao_lab/partials/busca_dental.html" with busca_next="lab_criar_moldagem" %}
{% endblock %}

{% block panel_label %}<p class="section-label">Fluxo de moldagens</p>{% endblock %}
{% block panel_title %}Registrar moldagem{% endblock %}
{% block panel %}
    {% include "partials/form_errors.html" with com_rotulo=True %}

    <form class="form-stack form-stack-wide" method="post">
        {% csrf_token %}

        {% url 'lab_buscar_pacientes' as url_pac %}
        {% url 'lab_buscar_alunos_lab' as url_alu %}

        {% include "gestao_lab/partials/_ac_field.html" with ac_name="paciente" ac_label="Paciente" ac_url=url_pac ac_id=paciente_sel.pk ac_nome=paciente_sel.nome ac_errors=form.paciente.errors %}

        {% include "gestao_lab/partials/_ac_field.html" with ac_name="aluno" ac_label="Aluno" ac_url=url_alu ac_id=aluno_sel.pk ac_nome=aluno_sel.nome ac_errors=form.aluno.errors %}

        <div class="field field-checkbox">
            <label>
                <input type="checkbox" name="faturado"
                    {% if form.faturado.value %}checked{% endif %}>
                Paciente já realizou o pagamento pelo procedimento
            </label>
        </div>

        <div class="field field-checkbox">
            <label>
                <input type="checkbox" name="entregue"
                    {% if form.entregue.value %}checked{% endif %}>
                Moldagem já foi entregue ao laboratório
            </label>
        </div>

        <div class="form-actions">
            <button class="button primary" type="submit">Registrar moldagem</button>
            <a class="button secondary" href="{% url 'lab_moldagens' %}">Cancelar</a>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
